<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annual Analysis</title>
</head>
<body>

    <div style="position: absolute; top: 10px; left: 10px;">
        <a href="/" style="text-decoration: none;">
            <button style="padding: 5px 15px;">Back to Main</button>
        </a>
    </div>

    <h1 style="text-align: center;">Annual Bill Analysis</h1>

    <!-- Dash App -->
    <div>
        {%app_entry%}
    </div>

    <footer>
        {%config%}
        {%scripts%}
        {%renderer%}
    </footer>

</body>
</html>
